@use 'src/styles/partials/abstracts/variables' as var;

@mixin center-vertically-horizontally--with-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin blur-background(
  $bg-color: #fff,
  $blur-value: .5px
) {
  background-color: $bg-color;
  backdrop-filter: blur($blur-value);
}

@mixin center-vertically {
  display: flex;
  align-items: center;
  justify-content: revert;
}

@mixin center-horizontally {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@mixin center-horizontally--with-margins {
  margin-left: auto;
  margin-right: auto;
}

@mixin round-top-corners($radius) {
  border-radius: $radius $radius 0 0;
}

@mixin move-to-top-by($amount) {
  margin-top: -$amount;
}

@mixin show {
  //transition: all .2s;
  opacity: 1;
}

@mixin hide {
  //transition: all .2s;
  opacity: 0;
}

@mixin glow($color) {
  text-shadow:
          0 0 4px #fff,
          //0 0 8px #fff,
          0 0 8px $color,
          0 0 16px $color,
          0 0 32px $color;
}

@mixin blur($color, $blurAmount) {
  background-color: $color;
  backdrop-filter: blur($blurAmount);
}

@mixin crt-gradient($color: var.$color--blue-night) {
  background-image: radial-gradient(
                      ellipse,
                      rgba(#000, .15) 0%,
                      rgba($color, 1) 50%
                    );
}

@mixin rounded-image {
  border-radius: .5em;
  object-fit: cover;
  border-width: 1px;
  border-color: rgba(#fff, .2);
  border-style: solid;
}
