@use 'src/styles/partials/abstracts/variables' as var;

@mixin center-vertically-horizontally {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-vertically {
  display: flex;
  align-items: center;
  justify-content: revert;
}

@mixin center-horizontally {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@mixin round-top-corners($radius) {
  border-radius: $radius $radius 0 0;
}

@mixin move-to-top-by($amount) {
  margin-top: -$amount;
}

@mixin show {
  //transition: all .2s;
  opacity: 1;
}

@mixin hide {
  //transition: all .2s;
  opacity: 0;
}

@mixin glow($color) {
  text-shadow:
          0 0 4px #fff,
          //0 0 8px #fff,
          0 0 8px $color,
          0 0 16px $color,
          0 0 32px $color;
}

@mixin blur($color, $blurAmount) {
  background-color: $color;
  backdrop-filter: blur($blurAmount);
}

