@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.footer {
  bottom: 0;
  width: 100%;
  padding: .3em 0;
  @include mix.center-vertically-horizontally;
  background-color: transparent;
  color: var.$color--blue-night--500;
  font-family: var.$font-family--tech;
  font-size: .8rem;
  
  &__rights-reserved {
    font-size: .7rem;
    
  }
  
}// .footer
