@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.footer {
  width: 100%;
  padding: 1em;
  @include mix.center-vertically-horizontally;
  //background-color: #fff;
  font-size: .8rem;
  //color: var.$color--base;
  
  &__content {
    max-width: var(--breakpoint--max-width);
  }
  
  &__rights-reserved {
    font-size: .75rem;
    
  }
  
}// .footer
