@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.header {
  z-index: 99; // for stay above crt begin() scanlines (z-index: 2)
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$color--base;
  margin-bottom: 2em;
  
  @media screen and (max-width: 600px) {
    //padding: 1em 1em;
  }
  
  @media screen and (max-width: 550px) {
    //padding: .7em 1em;
    //@include mix.center-vertically-horizontally;
  }
  
  &--reveal {
    animation-name: reveal;
    animation-fill-mode: forwards;
  }
  
  &--conceal {
    animation-name: conceal;
    animation-fill-mode: forwards;
  }
  
  
  //////////////////////////////////////////
  //////////////////////////////////////////
  &__logo {
    font-weight: normal;
    font-size: 1.4rem;
  }
  
  
  ////////////////////////////////////////////
  // animations
  ////////////////////////////////////////////
  @keyframes reveal {
    from { @include mix.hide; }
    to { @include mix.show; }
  }
  
  @keyframes conceal {
    from { @include mix.show; }
    to { @include mix.hide; }
  }
}// .header




