@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.header {
  color: #fff;
  
  padding: 1em 2em;
  margin: 1.5em 2em 10em 2em ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  //////////////////////////////////////////
  //////////////////////////////////////////
  &__logo {
    font-weight: 500;
    font-size: 1.4rem;
  }
  
  
  ////////////////////////////////////////////
  // animations
  ////////////////////////////////////////////

}// .header




