@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


/////////////////////////////////////////
// index.html
/////////////////////////////////////////
.main {
  scroll-behavior: smooth;
  
  
  &__section {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-color: var.$color--base;
    margin-bottom: 4em;
  }
  
  &__title {
    font-size: 3rem;
    font-weight: 500;
    
    //width: 100%;
    //padding-bottom: .5em;
    //color: var.$color--green--800;
    //$fonts-size: 1.2rem;
    //text-shadow: 1px 1px 5px rgba(#000, .3);
    //font-size: $fonts-size;
    //font-weight: normal;
    //text-align: end;
    //margin-bottom: 3em;
    //
    //border-bottom-color: #4d4d4d;
    //border-bottom-style: solid;
    //border-bottom-width: 1px;
    //
    //&::before {
    //  content: "> ";
    //}
  }
  
}// .main

/////////////////////////////////////////
// MISC
/////////////////////////////////////////

