@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

// media queries:
// - 360
// - 390
// - 680

.nav {
  
  a {
    $line-color: #fff;
    color: $line-color;
    text-decoration: none;
    background-image: linear-gradient($line-color, $line-color);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }
  a:hover,
  a:focus,
  a:active {
    background-size: 100% 0.1em;
  }
  

  @media screen and (max-width: 390px) {
    //font-size: .9rem;
  }
  
  @media screen and (max-width: 360px) {
    //font-size: .8rem;
  }
  
  &--move-slightly-top {
    position: absolute;
  }
  
  
  //////////////////////////////////////////
  //////////////////////////////////////////
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    list-style: none;
    
  }
  
  &__link {
    font-size: 1.4rem;
    color: var.$color--font-base;
    transition: all .2s;
  

    
    &:visited {
      color: var.$color--font-base;
    }
  
    &:hover {
      cursor: pointer;
      //text-decoration-line: underline;
    }
  }
  
}// .nav


