@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

// media queries:
// - 360
// - 390
// - 680

.nav {
  

  @media screen and (max-width: 390px) {
    //font-size: .9rem;
  }
  
  @media screen and (max-width: 360px) {
    //font-size: .8rem;
  }
  
  &--move-slightly-top {
    position: absolute;
  }
  
  
  //////////////////////////////////////////
  //////////////////////////////////////////
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    list-style: none;
    
  }
  
  &__link {
    font-size: 1.4rem;
    color: var.$color--font-base;
    transition: all .2s;
  
    &:link {
    }
    
    &:visited {
      color: var.$color--font-base;
    }
  
    &:hover {
      cursor: pointer;
      //text-decoration-line: underline;
    }
  }
  
}// .nav


