@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

// media queries:
// - 360
// - 390
// - 680

.nav {
  
  @media screen and (max-width: 390px) {
    font-size: .9rem;
  }
  
  @media screen and (max-width: 360px) {
    font-size: .8rem;
  }
  
  

  &--move-slightly-top {
    position: absolute;
  }
  
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style: none;
    
  }
  
  &__link {
    &:link::after {
      content: "()";
    }
  
    &:visited {
      color: inherit;
    }
  
    &:hover {
      cursor: pointer;
      font-weight: bold;
      color: var.$color--orange;
      text-decoration-line: underline;
    }
  }
  
}// .nav


