@use 'variables' as var;

body {
  font-family: var.$font-family--condensed;
  background-color: var.$color--blue-night;
  color: #DDF1FF;
}

.monospace {
  font-family: var.$font-family--mono;
  
}

textarea { resize: none; }
a:link:visited { color: inherit; }

