@use 'utils/variables' as var;

body {
  font-family: var.$font-family--condensed;
  background-color: var.$color--blue-night;
  color: #DDF1FF;
}

textarea { resize: none; }

a:link {
  color: inherit;
  text-decoration-line: none;
}

a:link:visited { color: #DDF1FF; }

