@use 'variables' as var;

body {
  padding: 1em;
  font-family: var.$font-family--base;
  background-color: #1A2F3E;
  color: #DDF1FF;
}

.monospace {
  font-family: var.$font-family--mono;
  
}

textarea { resize: none; }
a:link:visited { color: inherit; }

