
@mixin center-vertically-horizontally {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-vertically {
  display: flex;
  justify-content: center;
}

@mixin center-horizontally {
  display: flex;
  align-items: center;
}

@mixin round-top-corners($radius) {
  border-radius: $radius $radius 0 0;
}

@mixin move-to-top-by($amount) {
  margin-top: -$amount;
}

@mixin show {
  //transition: all .2s;
  opacity: 1;
}

@mixin hide {
  //transition: all .2s;
  opacity: 0;
}