:root {
  box-sizing: border-box;
  font-size: 100%;
  
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
}


// for scrollTo method
//html { height: 100%; overflow:auto; }
//body { height: 100%; }