@use "./variables" as var;


//////////////////////////////////////
// loading spinner
//////////////////////////////////////
.loading::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  right: 5%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

// @media screen and (max-width: v.$breakpoint--default) {
//   .loading::before {
//     top: 90%;
//     right: 5%;
//   }
// }

.hidden {
  display: none;
}


.divider {
  --border-width: 1px;
  
  width: 100%;
  height: calc(var(--border-width) + 2);
  border-bottom-style: solid;
  border-bottom-color: var.$color--blue-night--800;
  border-bottom-width: var(--border-width);
}

//

.stick-to-bottom {
  position: fixed;
  bottom: 0;
}

.square {
  z-index: 10;
  top: 0;
  position: sticky;
  width: 200px;
  height: 200px;
  border-color: #00BC4B;
}


////////////////////////////////////
// glitch
////////////////////////////////////
.container {
  color: #FAFAFA;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  color: var.$color--green;
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 1.1rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 200ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1.5s ease infinite 1.5s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

$color--scan-line-1: red;
$color--scan-line-2: blue;

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 $color--scan-line-1, 2px -3px 0 $color--scan-line-2;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 $color--scan-line-1, -2px 3px 0 $color--scan-line-2;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 $color--scan-line-1, 2px -3px 0 $color--scan-line-2;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 $color--scan-line-1, -2px 3px 0 $color--scan-line-2;
  }
  4%, 100% {
    text-shadow: none;
    transform: none;
  }
}




