@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// BREAKPOINTS

// TYPOGRAPHY
$font-family--base: 'Roboto', sans-serif;
$font-family--condensed:  'Roboto Condensed', sans-serif;
$font-family--mono: 'JetBrains Mono', monospace;

// SIZES


// COLORS
$color--blue-night: #1A2F3E;
$color--blue-night--50: #e4effc;
$color--blue-night--100: #c4d8e6;
$color--blue-night--200: #a6bcce;
$color--blue-night--300: #86a1b7;
$color--blue-night--400: #6e8ca4;
$color--blue-night--500: #557993;
$color--blue-night--600: #496a82;
$color--blue-night--700: #3a566b;
$color--blue-night--800: #2c4456;
$color--blue-night--900: #1a2f3e;
$color--green: #00BC4B;
$color--orange: #F18200;
$color--divider: rgba($color--blue-night--50, .05);