@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.go-to-top-button {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 3em;
  right: 2em;
  //right: 50%;
  padding: .5em;
  @include mix.center-vertically-horizontally;
  font-size: 1.2rem;
  box-shadow: 0 .1em .5em 0 rgba(#000, .2);
  
  border-radius: 50%;
  background-color: rgba(#fff, .2);
  border-style: solid;
  border-color: rgba(#fff, .5);
  border-width: 1px;
  backdrop-filter: blur(10px);
  
  opacity: 0;
  //transform: translateX(50%);
  transition: all 1s;
  
  &--reveal {
    opacity: 1;
  }
}//


.hover-menu-btn {
  position: fixed;
  right: -1.8em;
  top: 50%;
  padding: .5em 1.5em 1em 1.5em;
  color: var.$color--base;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-color: transparent;
  transform: rotateZ(270deg);
  box-shadow: 0px -5px 10px 0 rgba(#000, .3);
  //opacity: 0;
  transition: all .2s;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-name: hover-menu-btn__slide-out;
  animation-timing-function: ease-in;
  
  @media screen and (max-width: 500px) {
    font-size: 1rem;
    padding: .5em 1.5em .5em 1.5em;
  
  }
  
  
  &:hover {
    cursor: pointer;
    background-color: var.$color--orange;
    color: var.$color--orange--1000;
  }
  
  &--reveal {
    //opacity: 1;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-name: hover-menu-btn__slide-in;
    animation-timing-function: ease-in;
  }
  
  &--conceal {
    opacity: 0;
  }
  
  @keyframes hover-menu-btn__slide-in {
    from {
      transform: rotateZ(270deg) translateY(50px);
    }
    to {
      transform: rotateZ(270deg) translateY(0px);
    }
  }
  
  @keyframes hover-menu-btn__slide-out {
    from {
      transform: rotateZ(270deg) translateY(0px);
    }
    to {
      transform: rotateZ(270deg) translateY(50px);
    }
  }
  
}//