@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.translucent-badge {
  @include mix.center-vertically-horizontally;
  position: fixed;
  width: 100%;
  pointer-events: none;
  
  &__text {
    display: inline-block;
    padding: .5em 1.5em;
    
    text-align: center;
    text-shadow: 1px 1px 5px rgba(#000, .5);
    
    background-color: rgba(#fff, .1);
    border-radius: .5em;
    border-style: solid;
    border-color: rgba(#fff, .2);
    border-width: 1px;
    backdrop-filter: blur(10px);
  }
}

.wip-badge {
  bottom: 5em;
  z-index: 99; // for staying above crt scanlines
  
}// .wip-badge