@use "../utils/mixin" as mix;
@use "../utils/variables" as var;


.translucent-badge {
  @include mix.center-vertically-horizontally;
  position: fixed;
  width: 100%;
  
  &__text {
    display: inline-block;
    padding: .5em 1.5em;
    
    text-align: center;
    color: var.$color--blue-night--600;
    
    background-color: rgba(var.$color--blue-night--50, .05);
    border-radius: .5em;
    border-style: solid;
    border-color: rgba(var.$color--blue-night--50, .1);
    border-width: 1px;
    backdrop-filter: blur(10px);
  }
}

.wip-badge {
  bottom: 5em;
  z-index: 99; // for stay above crt begin() scanlines
  
}// .wip-badge