@use "src/styles/partials/abstracts/variables" as var;
@use "../base/mixin" as mix;

.scroll-down-cta {
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  @include mix.center-vertically-horizontally;
  
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(#000, .5);
  background-color: transparent;
  animation-name: move-up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
  
  //////////////////////////////////////////////
  //////////////////////////////////////////////
  @media screen and (max-width: 500px) {
    bottom: .5em;
    right: .5em;
    font-size: .95rem;
  }
  
  @keyframes move-up-down {
    0% {
      transform: translateY(-15%);
      opacity: .1;
    }
    
    50% {
      transform: translateY(15%);
      opacity: .5;
    }
    
    100% {
      transform: translateY(-15%);
      opacity: .1;
    }
  }
}// .scroll-down-cta