@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.about {
  margin-bottom: 5em;
  min-height: 100vh;
  @include mix.center-vertically-horizontally;
  
  
  ///////////////////////////////
  ///////////////////////////////
  &__content {
    height: 100%;
    max-width: var(--breakpoint--max-width);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    display: grid;
    grid-template-areas:
      "...   greetings"
      "media bio";
    column-gap: 1.5em;
    row-gap: .5em;
    grid-template-columns: 30% 70%;
    
    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
      grid-template-areas:
      "greetings"
      "bio"
      "media";
      justify-content: center;
    }
  }
  
  &__media {
    grid-area: media;
    transform: translateY(1.5em);
  
  
    @media screen and (max-width: 800px){
      width: 45%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  &__image {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    object-fit: cover;
    border-width: 1px;
    border-color: rgba(#fff, .2);
    border-style: solid;
  }
  
  &__greetings {
    grid-area: greetings;
    color: var.$color--orange--salmon;
    font-size: 1.3rem;
    font-weight: 600;
  
    @media screen and (max-width: 800px){
      text-align: center;
    }
  }
  
  &__text-content {
    grid-area: bio;
    display: flex;
    flex-direction: column;
    gap: 1em;
  
    @media screen and (max-width: 800px){
      align-items: center;
    }
  }
  
  &__name {
    font-size: 3.5rem;
    font-weight: 500;
  
    @media screen and (max-width: 600px){
      font-size: 3rem;
    }
  
    @media screen and (max-width: 450px){
      font-size: 2.5rem;
    }
  
    @media screen and (max-width: 400px){
      font-size: 2.2rem;
    }
  
    @media screen and (max-width: 350px){
      font-size: 2rem;
    }
  }
  
  &__bio {
    max-width: 70%;
    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: 300;
  
    @media screen and (max-width: 800px){
      text-align: center;
      max-width: 65%;
    }
    
    @media screen and (max-width: 600px){
      max-width: 80%;
    }
  }
  
}// .about
