@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


@mixin about-title {
  text-transform: uppercase;
  letter-spacing: -.05em;
  font-weight: 500;
}

$defaultHeight: 241vh;

.about {
  min-height: 200vh;
  text-align: center;
  
  
  ///////////////////////////////
  ///////////////////////////////
  &__content {
    height: 200vh;
    position: relative;
  }
  
  &__sticky-container {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    @include mix.center-vertically-horizontally--with-flex;
    mix-blend-mode: exclusion;
  }
  
  &__media {
    padding: 1em;
    min-width: 250px;
    max-width: 400px;
    width: 50%;
  }
  
  &__image {
    height: 100%;
    width: 100%;
    border-radius: .3em;
    object-fit: cover;
    border-width: 1px;
    border-color: rgba(#fff, .1);
    border-style: solid;
  }
  
  &__text-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  &__greetings {
    @include about-title;
    font-size: clamp(1rem, calc(-1.5rem + 10vw), 2rem);
  }
  
  &__name {
    z-index: 1;
    margin-bottom: .3em;
  
    font-family: var.$font-family--serif;
    font-size: clamp(1rem, 1rem + 10vw, 10rem);
    letter-spacing: -.05em;
    font-weight: 400;
    line-height: .85;
    text-shadow: 2px 2px 10px rgba(#000, .5);
    transform: translate3d(0,0,0);
  }
  
  &__bio {
    @include about-title;
  }
  
  &__bio--row-1 {
    line-height: .8;
    font-weight: 550;
    margin-bottom: -.05em;
    font-size: clamp(1rem, calc(1rem + 10vw), 10rem);
  }
  
  &__bio--row-2 {
    text-transform: lowercase;
    margin-bottom: -.35em;
    font-size: clamp(1rem, calc(-1.5rem + 10vw), 2rem);
  }
  
  &__bio--row-3 {
    font-size: clamp(1rem, calc(-1.5rem + 10vw), 2rem);
  }
  
}// .about
