@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.contact {
  margin-top: -1em;
  background-color: var.$color--blue-night--700;
  color: var.$color--blue-night--50;
  position: relative;
  
  &__title {
    z-index: 1;
    border-bottom-color: var.$color--blue-night--500;
  }
  
}//
