@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.contact {
  margin-top: -1em;
  background: radial-gradient(farthest-corner at 0px 0px, #496a82 5%, #3a566b 50%);
  color: var.$color--blue-night--50;
  position: relative;
  
  &__title {
    z-index: 1;
    border-bottom-color: var.$color--blue-night--500;
  }
  
}//
