@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.journeys {
  padding: 2em;
  //min-height: 100vh;
  margin-bottom: 10em;
  
  
  //////////////////////////////////
  //////////////////////////////////
  &__content {

  }
  
  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  
  &__our {
    color: var.$color--green;
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-auto-rows: 200px;
    grid-auto-flow: row;
    grid-gap: 2em;
    justify-content: center;
    transition: all .2s;
    grid-template-areas:
            "quote norway florence"
            "germany milan florence"
            "naples iceland iceland"
            "naples hungary capri";
  
    @media screen and (max-width: 600px){
      grid-template-columns: repeat(2, minmax(100px, 200px));
      grid-auto-rows: 120px;
      grid-gap: 1em;
  
      grid-template-areas:
            "quote norway "
            "quote capri "
            "florence hungary "
            "florence  naples"
            "germany milan "
            "iceland iceland";
    }
  }
  
  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .5em;
    border-width: 1px;
    border-color: rgba(#fff, .2);
    border-style: solid;
    transition: all .2s;
  }
  
  &__item--1-1 {
    grid-area: quote;
    @include mix.center-vertically-horizontally--with-flex;
  };
  &__item--1-2 {grid-area: norway};
  &__item--1-3 {grid-area: florence};
  &__item--2-1 {grid-area: germany};
  &__item--2-2 {grid-area: milan};
  //&__item--2-3 {grid-area: florence};
  &__item--3-1 {grid-area: naples};
  &__item--3-2 {grid-area: iceland};
  //&__item--3-3 {grid-area: iceland};
  //&__item--4-1 {grid-area: naples};
  &__item--4-2 {grid-area: hungary};
  &__item--4-3 {grid-area: capri};
  
  &__description {
    border-width: 2px;
    border-color: transparent;
  }
  
  &__text {
    font-weight: 500;
    color: #fff;
    font-size: clamp(.9rem, .6rem + 1vw, 1.3rem);
    text-align: center;
    
    // for galaxy fold like screens
    @media screen and (max-width: 600px) {
      font-size: clamp(.95rem, .6rem + 1vw, 1.3rem);
    }
  }
  
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: journeys__img--reveal;
    animation-play-state: paused;
  
    &--reveal {
      animation-play-state: running;
    
      @keyframes journeys__img--reveal {
        from {
          opacity: 0;
          transform: scale(1.1);
        }
      
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include mix.center-vertically-horizontally--with-flex;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 1px 1px 5px rgba(#000, .5);
    background: rgba(#000, .5);
    backdrop-filter: blur(3px);
    mix-blend-mode: luminosity;
    opacity: 0;
    transition: all .2s;
    
    &:hover {
      opacity: 1;
    }
  }
  
}// .journeys