@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.journeys {
  padding: 2em;
  
  &__content {
    max-width: var(--breakpoint--max-width);
    margin-left: auto;
    margin-right: auto;
  }
  
  &__title {
    width: 100%;
    text-align: center;
  }
  
  &__our {
    color: var.$color--green;
  }
  
}// .journeys