@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.projects {
  position: relative;
  
  
  //////////////////////////////////
  //////////////////////////////////
  &__container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  &__item {
    display: flex;
    gap: 2em;
    margin-bottom: 10em;
  }
  
  &__info {
    flex-grow: 2;
    max-width: 400px;
    display: flex;
    //align-items: center;
  }
  
  &__info-body {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }
  
  &__description {
    font-size: 1.1rem;
  }
  
  &__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 5em;
  }
  
  &__stack-item {
    font-family: var.$font-family--mono;
    color: rgba(#fff, .5);
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__app-name {
    font-size: 2rem;
    font-weight: 500;
  }
  
  &__links {
    display: flex;
    align-items: stretch;
    gap: 1.5em;
  }
  
  &__link {
  
  }
  
  &__icon {
    color: #fff;
    font-size: 2rem;
  }
  
  &__gallery {
    flex-basis: 100px;
    flex-grow: 4;
    
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(6, minmax(25px, 1fr));
  }
  
  &__gallery-item {
    overflow: hidden;
    border-radius: .5em;
    border-width: 1px;
    border-color: rgba(#fff, .2);
    border-style: solid;
  }
  
  &__screen {
    width: 100%;
    height: 100%;
    transition: all .5s;
    object-fit: cover;
    
    &:hover {
      transform: scale(1.05);
    }
  }
  
  
}// .pr0jects

.cinemates {
  &__gallery {
    grid-template-areas:
      "screen1 screen1 screen1 ...     ...     ..."
      "screen1 screen1 screen1 ...     ...     ..."
      "screen1 screen1 screen1 screen2 screen2 screen2"
      "screen1 screen1 screen1 screen2 screen2 screen2"
      "... ... ...             screen2 screen2 screen2"
      "... ... ...             screen2 screen2 screen2"
      "screen3 screen3 screen3 ... ... ..."
      "screen3 screen3 screen3 ... ... ..."
      "screen3 screen3 screen3 screen4 screen4 screen4"
      "screen3 screen3 screen3 screen4 screen4 screen4"
      "... ... ...             screen4 screen4 screen4"
      "...     ...     ...     screen4 screen4 screen4"
  ;
  }
  
  &__screen--1 {
    grid-area: screen1;
  }
  
  &__screen--2 {
    grid-area: screen2;
  }
  
  &__screen--3 {
    grid-area: screen3;
  }
  
  &__screen--4 {
    grid-area: screen4;
  }
  
}// .cinemates


.webplayground {
  &__gallery {
    grid-template-areas:
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen3 screen3 screen3             ... ... ..."
      "screen3 screen3 screen3             screen2 screen2 screen2"
      "screen3 screen3 screen3             screen2 screen2 screen2"
      "screen3 screen3 screen3            ... ... ..."
      "screen4 screen4 screen4 screen4 screen4 screen4"
      "screen4 screen4 screen4 screen4 screen4 screen4"
      "screen4 screen4 screen4 screen4 screen4 screen4"
      "screen4 screen4 screen4 screen4 screen4 screen4"
  ;
  }
  
  &__screen--1 {
    grid-area: screen1;
  }
  
  &__screen--2 {
    grid-area: screen2;
  }
  
  &__screen--3 {
    grid-area: screen3;
  }
  
  &__screen--4 {
    grid-area: screen4;
  }
  
}// .webplayground

.mapty {
  &__gallery {
    grid-template-areas:
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      "screen1 screen1 screen1 screen1 screen1 screen1"
      //"... ... screen2 screen2 ... ..."
      //"... ... screen2 screen2 ... ..."
      "screen3 screen3 screen3 screen3 screen3 screen3"
      "screen3 screen3 screen3 screen3 screen3 screen3"
      "screen3 screen3 screen3 screen3 screen3 screen3"
      "screen3 screen3 screen3 screen3 screen3 screen3"
  ;
  }
  
  &__screen--1 {
    grid-area: screen1;
  }
  
  &__screen--2 {
    grid-area: screen2;
  }
  
  &__screen--3 {
    grid-area: screen3;
  }
  
}// .mapty

//.cinemates {
//
//  &__content {
//
//  }
//
//  &__header {
//    background-color: var.$color--blue;
//  }
//
//  &__website-btn {
//    background-color: var.$color--blue;
//  }
//
//}// .cinemates
//
//.webplayground {
//
//  &__header {
//    background-color: #fff;
//  }
//
//  &__name {
//    transform: translateX(-95%) rotateZ(-90deg);
//  }
//
//  &__list-item {
//    max-width: 900px;
//    flex-shrink: 1;
//  }
//
//  &__website-btn {
//    background-color: #fff;
//  }
//
//}// .webplayground
//
//.mapty {
//
//  &__header {
//    background-color: var.$color--green;
//  }
//
//  &__list-item {
//    max-width: 900px;
//    flex-shrink: 1;
//  }
//
//  &__website-btn {
//    background-color: var.$color--green;
//  }
//
//}// .mapty