@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;


.projects {
  margin-top: -1em;
  position: relative;
  
  &__title {
    border-bottom-color: var.$color--blue-night--700;
  }

}//