@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.projects {
  //min-height: 200vh;
  position: relative;
  
  &__container {
    min-height: 200vh;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  &__title {
    width: auto;
    position: sticky;
    top: 0;
    right: 0;
    text-align: right;
    margin-right: 1em;
    //background-image: linear-gradient(#000, rgba(#000, .5));
  }
  
  &__item {
    min-height: 100vh;
    //height: 100vh;
    display: flex;
    justify-content: space-between;
  
  }
  
  &__content {
    padding: 4em 2em 0 2em;
    max-width: 80vw;
    min-height: 100vh;
  }
  
  &__header {
    //position: absolute;
    //top: 0;
    //left: 0;
    min-height: 100vh;
    max-width: 200px;
    background-color: #fff;
    
    position: relative;
    display: flex;
    flex-direction: column;
    //justify-content: center;
  }
  
  &__name {
    //height: 100%;
    width: max-content;
    transform-origin: top right;
    transform: translateX(-90%) rotateZ(-90deg);
    
    font-size: 5rem;
    font-weight: 500;
    color: var.$color--base;
    //text-align: end;
    padding-right: 1em;
    padding-bottom: .5em;
  }
  
  &__list {
    list-style: none;
    display: flex;
    gap: 4em;
    overflow: hidden;
    margin-bottom: 4em;
  }
  
  &__list-item {
    //flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 300px;
    //max-height: 600px;
    border-radius: .5em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(#fff, .2);
    overflow: hidden;
  }
  
  &__screen {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  &__text-content {
    display: flex;
    gap: 4em;
    font-size: 1.2rem;
    
  }
  
  &__description {
    flex-grow: 4;
    flex-basis: 1px;
  
  }
  
  &__stack {
    flex-grow: 2;
    flex-basis: 1px;
    //max-width: 500px;
    //padding: 0 2em 0 2em;
    padding-left: .7em;
    padding-bottom: 1em;
    border-left-width: 1px;
    border-left-color: var.$color--divider;
    border-left-style: solid;
    
  }
  
  &__built-with {
    font-weight: 500;
  }
  
  &__stack-list {
    padding-left: 1.5em;
    margin-bottom: 2em;
  }
  
  &__source-code {
    //display: block;
    max-width: 170px;
    padding: .5em 1em;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border-radius: .3em;
    font-size: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  
  &__website-btn {
    position: absolute;
    bottom: 0;
    left: 45%;
    padding: .5em 1.5em;
    color: #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 2em;
    transition: all .2s;
  
    
    &:link {
      color: #000;
    
    }
    
    &:hover {
      transform-origin: center center;
      transform: scale(1.1);
      box-shadow: 0 .2em 1em -.5em rgba(#fff, .5);
    }
  }
  
}// .projects

.cinemates {
  
  &__content {
    flex-grow: 1;
    flex-basis: 1px;
    height: 100%;
    position: relative;
  }
  
  &__header {
    background-color: var.$color--blue;
  }
  
  &__website-btn {
    background-color: var.$color--blue;
    margin-bottom: 1em;
  }
  
}// .cinemates

.travelmates {
  
  &__content {
    flex-grow: 1;
    flex-basis: 1px;
    height: 100%;
    position: relative;
  }
  
  &__header {
    background-color: #fff;
  }
  
  &__website-btn {
    background-color: #fff;
    
  }
  
}// .travelmates