@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.about, .projects, .contact {
  padding: 3.5em 3em;
  $border-radius: .7em;
  $offset: $border-radius;
  //box-shadow: 0 -.5em 1.5em -.5em rgba(#000, .5);
  @include mix.round-top-corners($border-radius);
  
  
  @media screen and (max-width: 500px) {
    padding: 3em 2em;
  }
  
  @media screen and (max-width: 400px) {
    padding: 2em 1.5em;
  }
}