@use "../base/mixin" as mix;
@use "../abstracts/variables" as var;

.skills {
  padding: 1em;
  margin-bottom: 10em;
  
  &__content {
    background-color: #000;
    padding: 4em 6em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
  
    @media screen and (max-width: 800px){
      padding: 3em 3em;
    }
    
  }
  
  &__grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "title  section-1"
        "title  section-2"
    ;
    grid-row-gap: 4em;
  
    @media screen and (max-width: 700px){
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "section-1"
        "section-2"
    ;
    }

  }
  
  &__grid-item {
  
  }
  
  &__grid-item--1-1 {
    grid-area: title;
    align-self: center;
  
    @media screen and (max-width: 700px){
      justify-self: center;
    }
  
    @media screen and (max-width: 500px){
      font-size: 1rem;
    }
  }
  
  &__grid-item--1-2 {
    grid-area: section-1;
  
    @media screen and (max-width: 500px){
      font-size: .8rem;
    }
  }
  
  &__grid-item--2-2 {
    grid-area: section-2;
  
    @media screen and (max-width: 500px){
      font-size: .8rem;
    }

  }
  
  &__title {

  }
  
  &__subtitle {
    font-weight: normal;
    border-bottom-width: 1px;
    border-bottom-color: rgba(#fff, .2);
    border-bottom-style: solid;
    
    padding-bottom: .5em;
    margin-bottom: 1em;
    font-size: 1.1rem;
  
  }
  
  &__text{
    font-family: var.$font-family--mono;
    color: rgba(#fff, .5);
    font-weight: 300;
    font-size: 1.1rem;
  }
  
  
}// .skills