@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap');

////////////////////// BREAKPOINTS
:root {
  --breakpoint--max-width: 800px;
  --breakpoint--550: 550px;
  --breakpoint--600: 600px;
}


////////////////////// TYPOGRAPHY
$font-family--base: 'Jost', sans-serif;
$font-family--mono: 'JetBrains Mono', monospace;
//$font-family--serif: 'Noto Serif', serif;
$font-family--serif: 'Bodoni Moda', serif;


////////////////////// COLORS
$color--base: #151515;

$color--green: #98D27E; // 500
$color--green--900: #0e641b; // 500
$color--green--1000: #094111; // 500
$color--green-600: #00A22D;

$color--orange: #FFA133;
$color--orange--salmon: #FF9B70;
$color--orange--700: #f3852c;
$color--orange--900: #e16026;
$color--orange--1000: #4f210d;
$color--red: #FF6262;
$color--yellow: #FFCB2B;
$color--blue: #0062D5;

$color--divider: rgba(#717171, 1);
$color--font-base: #fff;


////////////////////// SIZES


////////////////////// MISC
$color--green--50: #e6f7e9;
$color--green--100: #c3ebca;
$color--green--200: #9bdea7;
$color--green--300: #6ed183;
$color--green--400: #46c768;
$color--green--500: #00bc4b;
$color--green--600: #00ac42;
$color--green--700: #009a36;
$color--green--800: #00892a;
$color--green--900: #006912;
$color--green--900--2: #074228;

$color--blue-night: #1A2F3E;
$color--blue-night--50: #F4F9FF;
//$color--blue-night--50: #e4effc;
$color--blue-night--100: #c4d8e6;
$color--blue-night--200: #a6bcce;
$color--blue-night--300: #86a1b7;
$color--blue-night--400: #6e8ca4;
$color--blue-night--500: #557993;
$color--blue-night--600: #496a82;
$color--blue-night--700: #3a566b;
$color--blue-night--800: #2c4456;
$color--blue-night--900: #1a2f3e;