@use "../mixin" as mix;
@use "../variables" as var;


/////////////////////////////////////////
// HEADER
/////////////////////////////////////////
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; // for stay above crt begin() scanlines
  
  font-family: var.$font-family--mono;
  
  border-bottom-color: var.$color--divider;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: var.$color--blue-night;
  opacity: 0;
  animation-duration: .5s;
  transition: all .2s;
  
  
  &__logo {
    color: var.$color--green;
    font-size: 1rem;
    font-weight: bold;
  
    @media screen and (max-width: 550px) {
      & {
        font-size: 0.9rem;
      }
    }
  }
  

  
  &--reveal {
    animation-name: reveal;
    animation-fill-mode: forwards;
  }
  
  &--conceal {
    animation-name: conceal;
    animation-fill-mode: forwards;
  }
  
}//

.header:hover {
  opacity: 1 !important;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: .7em 1em;
    
    @include mix.center-vertically-horizontally;
  }
}

@keyframes reveal {
  from { @include mix.hide; }
  to { @include mix.show; }
}

@keyframes conceal {
  from { @include mix.show; }
  to { @include mix.hide; }
}



/////////////////////////////////////////
// NAV
/////////////////////////////////////////
.nav {
  font-family: var.$font-family--mono;
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style: none;
  }
  
  @media screen and (max-width: 680px) {
    &__list {
      gap: 1em;
    }
  }
  
  &__link:link {

  }
  
  &__link:link::after {
    content: "()";
  }
  
  &__link:visited {
    color: inherit;
    //text-decoration-line: underline;
    //text-decoration-color: var.$color--blue-night--400;
  }
  
  &__link:hover {
    cursor: pointer;
    font-weight: bold;
    color: var.$color--orange;
    text-decoration-line: underline;
  }
  

}//

.nav--stick-to-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  background-color: var.$color--blue-night;
  
  border-top-color: var.$color--divider;
  border-top-style: solid;
  border-top-width: 1px;
  
  transition: all .2s;
  
  //.nav__link:link {
  //  text-decoration-line: underline;
  //  text-decoration-color: var.$color--blue-night--700;
  //  text-decoration-thickness: .5px;
  //}
}

.nav--move-slightly-top {
  position: absolute;
}

@media screen and (max-width: 390px) {
  .nav {
    font-size: .9rem;
  }
}

@media screen and (max-width: 360px) {
  .nav {
    font-size: .8rem;
  }
}


/////////////////////////////////////////
// HOME
/////////////////////////////////////////
.home {
  scroll-padding: 4.2rem;
  scroll-behavior: smooth;
  
  &__typing-container {
    $font-size: 1.2rem;
    
    position: relative;
    font-size: $font-size;
    font-weight: bold;
    width: max-content;
    
    @media screen and (max-width: 500px) {
      & {font-size: 1rem;}
    }
    
    @media screen and (max-width: 450px) {
      & {font-size: .95rem;}
    }
    
    @media screen and (max-width: 400px) {
      & {font-size: .8rem;}
    }
  }
  
  &__input-cursor {
    @include mix.input-cursor($width: .7em);
  }
  
  &__section {
    height: 100vh;
    background-color: var.$color--blue-night;
  
    //scroll-snap-align: start;
  }
  
  &__title {
    width: 100%;
    $fonts-size: 1.2rem;
    font-family: var.$font-family--condensed;
    font-size: $fonts-size;
    font-weight: normal;
    text-align: start;
    padding-bottom: .5em;
    
    border-bottom-color: var.$color--blue-night--200;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    &::before {
      content: "> ";
    }

  }
  
  &__begin {
    @include mix.center-vertically-horizontally;
  

  }
  
  &__about, &__projects,  &__contact {
    font-family: var.$font-family--condensed;
    padding: 3.5em 3em;
    $border-radius: 1em;
    $offset: $border-radius;
    box-shadow: 0 -.5em 1.5em -.5em rgba(#000, .5);
    @include mix.round-top-corners($border-radius);

  }
  
  &__about {
    overflow: hidden;
    @include mix.move-to-top-by(0);
    
    display: flex;
    flex-direction: column;
    //justify-content: stretch;
    gap: 3em;
    
    background-color: var.$color--blue-night--50;
    color: var.$color--blue-night;
  
    // parallax
    //position: relative;
    //perspective: 1px;
    //overflow-x: hidden;
    //overflow-y: auto;
    //// webkit bug
    //perspective-origin-x: 100%;
    //position: relative;
  
    .home__title {
      position: relative;
      z-index: 2;
    }
  }
  
  &__about-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width: 650px) {
      & {
        flex-direction: column;
        gap: 2em;
        justify-content: flex-start;
      }
    }
  }
  
  &__about-description {
    flex-basis: 50%;
    flex-grow: 1;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  

  &__about-media {
    flex-grow: 3;
    
    width: 100%;
    height: 100%;
    position: relative;
  
    display: flex;
    justify-content: flex-end;
    
    @media screen and (max-width: 650px){
      & {
        justify-content: center;
      }
      
    }
  }
  
  &__about-media-container {
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 1;
    
    position: relative;
  }
  
  &__about-overlay {
    --top: 0;
    --right: 2%;
    --bottom: 20%;
    --left: 2%;
    $bg-clor: var.$color--blue-night--50;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background:
            linear-gradient(180deg, rgba($bg-clor,1) var(--top), transparent var(--top), transparent),
            linear-gradient(-90deg, rgba($bg-clor,1) var(--right), transparent var(--right), transparent),
            linear-gradient(0deg,   rgba($bg-clor,1) var(--bottom), transparent var(--bottom), transparent),
            linear-gradient(90deg,  rgba($bg-clor,1) var(--left), transparent var(--left), transparent)
  ;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  &__about-clip {
    height: 70%;
    width: 95%;
    border-radius: .4em;
    border-width: 1px;
    border-style: solid;
    border-color: var.$color--blue-night--300;
    background-color: transparent;
    
  
    box-shadow: 0 0 0 .5em var.$color--blue-night--50, inset 0 0 1em 0 rgba(#000, .2);
  }
  
  &__about-background {
    //position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    width: 100%;
    height: 70%;
    

    // path must be relative to index.scss
    background-image: url('../assets/images/iceland-ocean.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  &__about-media-farthest {
    @include mix.center-vertically-horizontally;

    // path must be relative to index.scss
    //background-image: url('../assets/images/iceland-ocean.jpg');
    //background-position: center center;
    //background-size: 200%;
    //background-repeat: no-repeat;
    
    // parallax-farthest
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // webkit bug
    transform-origin-x: 100%;
    //
    transform: translateZ(-3px) scale(calc((1 + 3) / 1));
    z-index: 1;
  }
  
  &__about-media-closest {
    @include mix.center-vertically-horizontally;
  
  
    // parallax-farthest
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // webkit bug
    transform-origin-x: 100%;
    //
    transform: translateZ(0);
  }
  
  &__projects {
    margin-top: -1em;
  }
  
  &__contact {
    margin-top: -1em;
    background-color: var.$color--blue-night--50;
    color: var.$color--blue-night;
  }

}//


@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


/////////////////////////////////////////
// FOOTER
/////////////////////////////////////////
.footer {
  width: 100%;
  padding: .5em 0;
  @include mix.center-vertically-horizontally;
  background-color: var.$color--blue-night;
  color: var.$color--blue-night--50;
  
  &__rights-reserved {
    font-size: .9rem;
  
  }
}//


/////////////////////////////////////////
// MISC
/////////////////////////////////////////

