@use "../mixin" as mix;
@use "../variables" as var;


/////////////////////////////////////////
// HEADER
/////////////////////////////////////////
@keyframes reveal {
  from { @include mix.hide; }
  to { @include mix.show; }
}

@keyframes conceal {
  from { @include mix.show; }
  to { @include mix.hide; }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  font-family: var.$font-family--mono;
  
  border-bottom-color: var.$color--divider;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: var.$color--blue-night;
  opacity: 0;
  animation-duration: .5s;
  transition: all .2s;
  
  &__logo {
    color: var.$color--green;
    font-size: 1.1rem;
  }
  
  &--reveal {
    animation-name: reveal;
    animation-fill-mode: forwards;
  }
  
  &--conceal {
    animation-name: conceal;
    animation-fill-mode: forwards;
  }
  
}//
@media screen and (max-width: 600px) {
  .header {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 1em;
    @include mix.center-vertically-horizontally;
  }
}

.header:hover {
  opacity: 1 !important;
}


/////////////////////////////////////////
// NAV
/////////////////////////////////////////
.nav {
  font-family: var.$font-family--mono;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style: none;
  }
  
  @media screen and (max-width: 680px) {
    &__container {
      gap: 1em;
    }
  }
  
  &__link:visited {
    color: inherit;
  }
  
  &__link:hover {
    cursor: pointer;
    font-weight: bold;
    color: var.$color--orange;
    text-decoration-line: underline;
  }
}

.nav--stick-to-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  background-color: var.$color--blue-night;
  
  border-top-color: var.$color--divider;
  border-top-style: solid;
  border-top-width: 1px;
  
  transition: all .2s;
}

.nav--move-slightly-top {
  position: absolute;
}

@media screen and (max-width: 390px) {
  .nav {
    font-size: .9rem;
  }
}

@media screen and (max-width: 360px) {
  .nav {
    font-size: .8rem;
  }
}


/////////////////////////////////////////
// HOME
/////////////////////////////////////////
@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.home {
  
  &__typing-container {
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
  
  @media screen and (max-width: 500px) {
    &__typing-container {font-size: .95rem;}
  }
  
  @media screen and (max-width: 450px) {
    &__typing-container {font-size: .85rem;}
  }
  
  @media screen and (max-width: 400px) {
    &__typing-container {font-size: .75rem;}
  }
  
  
  &__input-cursor {
    display: inline-block;
    width: 3px;
    height: 1.3rem;
    background-color: white;
    //margin-left: -5px;
    //margin-top: .1rem;
    position: relative;
    top: .3rem;
    left: -.2rem;
  
    animation-name: blink;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  &__section {
    height: 100vh;
    @include mix.center-vertically-horizontally;
    background-color: var.$color--blue-night;
  }
  
  &__section p {
    font-family: var.$font-family--condensed;
    font-size: 3rem;
  }
  
  
  &__about, &__projects,  &__contact {
    $border-radius: 1.5em;
    @include mix.round-top-corners($border-radius);
    @include mix.move-to-top-by($border-radius);
  }
  
  &__about {
    background-color: var.$color--blue-night--50;
    color: var.$color--blue-night;
    @include mix.move-to-top-by(0);
  }
  
  &__projects {

  }
  
  &__contact {
    background-color: var.$color--blue-night--50;
    color: var.$color--blue-night;
  }

}//


/////////////////////////////////////////
// FOOTER
/////////////////////////////////////////
.footer {
  width: 100%;
  padding: 1.5em 0;
  @include mix.center-vertically-horizontally;
  background-color: var.$color--blue-night;
  
  
  &__rights-reserved {
  
  }
}



.wip-badge {
  position: fixed;
  bottom: 5em;
  width: 100%;
  @include mix.center-vertically-horizontally;
  
  p {
    display: inline-block;
    padding: .5em 1.5em;
  
    text-align: center;
    color: var.$color--blue-night--600;
  
    background-color: rgba(var.$color--blue-night--50, .05);
    border-radius: .5em;
    border-style: solid;
    border-color: rgba(var.$color--blue-night--50, .1);
    border-width: 1px;
    backdrop-filter: blur(10px);
  }
}
